footer{
    /* width: 100vw;
    height: 37.5vh;
    position : absolute;
    top: 2vh;
    margin-top: 130vh; */

    width: 100%;
    height: 350px;
    top: 500px;
    margin-top: 800px;

    background: #181825;
}


#footer-logo {
    margin: 0;
}

.upper-box {
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    margin-bottom: 80px;
}

.lower-box {
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.left-box {
    /* border: 3px solid yellow; */
}

.right-box {
    /* border: 3px solid yellow; */
}

.link-box {
    display: flex;
    margin-top: 15px;
}

#links-left,
#links-right {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.link-box li {
    color: #CDCDCD;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}

#contact-links {
    list-style: none;
    padding-inline-start: 0;
    display: inline-block;
    align-self: center;
    font-weight: 700;
    margin-top: 20px;
}

#contact-links > li {
    float: left;
    margin-right: 40px;
}

li :link {
    color: #CDCDCD;
    text-decoration: none;
}

li :visited {
    color: #CDCDCD;
    text-decoration: none;
}

/* li :hover {
    color: #CDCDCD;
    text-decoration: none;
} */

li :active {
    color: #CDCDCD;
    text-decoration: none;
}

#links-left > li:first-child,
#links-right > li:first-child {
    margin-bottom: 20px;
}

#link-lockdrop,
#link-governance {
    font-weight: 700;
}

#links-left > li:nth-child(2),
#links-right > li:nth-child(2) {
    margin-bottom: 10px;
}

#corporation {
    margin-left: 20px;
    color: #CDCDCD;
}

#contact-us {
    font-weight: 400;
}