body {
    background-color: #060616;
    color: #FFF;
}

p {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* IMAGES */

#chain-left {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}

#chain-right {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.9;
}

/* SECTION */

.section {
    padding: 50px 0px;
}

.main-wrapper {
    position: relative;
}

.top-projects-wrapper {
    position: relative;
}

.statistics {
    margin-bottom: 150px;
}

/* TOP3 PROJECTS */

.project-header {
    position: absolute;
    width: 1200px;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    margin-top: 100px;
}

.project-header ul {
    display: flex;
    color: #CDCDCD;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.project-header ul li {
    margin-right: 20px;
}

.project-header ul li:first-child {
    margin-left: 50px;
    margin-right: 50px;
}

.project-header ul li:nth-child(2) {
    margin-right: 150px;
}

.project-header ul li:nth-child(3) {
    margin-right: 150px;
}

.project-header ul li:nth-child(4) {
    margin-right: 100px;
}

.project-header ul li:nth-child(5) {
    margin-right: 80px;
}

.project-rect {
    position: relative;
    height: 90px;
    margin: 20px 0px;
    padding: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(89.46deg, rgba(219, 172, 255, 0.2) 9.33%, rgba(78, 255, 223, 0.2) 96.25%);
    border-radius: 10px;
    color: #CDCDCD;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.project-rect-cont {
    position: absolute;
    width: 1200px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 130px;
}
