/* ++++++++ */
/* ABOUT US */
/* ++++++++ */

.about-wrapper {
    /* padding-left: 300px; */
    text-align: left;
}

.about-intro,
.about-lolo-intro,
.admin-container {
    margin-left: 300px;
    margin-right: 300px;
}

#about,
#admin {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    color: #CDCDCD;
}

#about-title {
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 45px;
    color: #FFF;
}

#about-p {
    line-height: 28px;
    font-size: 20px;
}

#about-ex {
    /* border: 3px solid yellow; */
    margin-top: 40px;
    margin-bottom: 120px;
    line-height: 28px;
    font-weight: 500;
    font-size: 14px;
}

.about-lolo-intro {
    line-height: 28px;
}

#lolo-p {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* RATIO */

#ratio-header {
    font-weight: 400;
    font-size: 20px;
    margin-right: 60px;
    color: #CDCDCD;
}

#lolo-containter {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
    /* border: 3px solid yellow; */
}

#usd-container {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.015em;
    color: #CDCDCD;
}

#usd-container > span:first-child {
    margin-left: 40px;
}

#usd-container > span:last-child {
    margin-right: 80px;
}

.text70 {
    font-weight: 700;
    font-size: 70px;
}

.ratio-container {
    margin: 80px 0;
    padding-top: 80px;
    padding-bottom: 120px;
    padding-left: 300px;
    padding-right: 300px;
    background: linear-gradient(102.13deg, rgba(157, 33, 255, 0.6) -18.49%, rgba(34, 84, 211, 0.6) 131.68%);
    text-align: center;
}

/* ADMIN */

.admin-container {
    width: 65%;
}

.side-textbox {
    display: flex;
    width: 100%;
    margin-top: 80px;
}

.side-textbox > div {
    line-height: 25px;
    font-weight: 500;
    font-size: 13px;
    /* border: 3px solid yellow; */
}

.side-textbox > div:first-child {
    margin-right: 200px;
    font-weight: 600;
    font-size: 18px;
    /* border: 3px solid red; */
}

#benefit-title {
    margin-right: 250px;
}

.register-wrapper {
    text-align: center;
    padding: 100px 0;
}