

.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.user-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    /* border: 3px solid yellow; */
}

#status-wrapper {
    width: 80%;
    text-align: left;
}

#status-wrapper > h1 {
    font-size: 50px;
}

.phase-wrapper {
    display: flex;
    /* border: 3px solid yellow; */
}

#timer {
    /* border: 3px solid blue; */
}

#timer > span:first-child {
    color: #DD4183;
    font-weight: 600;
    font-size: 18px;    
    margin-right: 15px;
}

#timer > span:nth-child(2) {
    color: #CDCDCD;
    font-weight: 600;
    font-size: 14px;    
}

#phases {
    text-align: left;
    width: max-content;
    margin-left: 160px;
}

#phases > div > span:first-child {
    color: #2745E2;
    margin-right: 20px;
}

#phases > div > span:nth-child(2) {
    font-weight: 600;
    margin-right: 40px;
    text-align: left;
}

#phases > div:nth-child(2) {
    color: #B6B6B6;
}



.bar-graph {
    height: 80px;
    justify-content: center;
    /* border: 3px solid red;   */
}

.rewards-wrapper {
    display: flex;
    width: 80%;
    text-align: left;
    margin-bottom: 30px;
    /* border: 3px solid yellow; */
}

.rules-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
}

.rules-container > h3,
.rewards-container > h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #D3D3D3;
    margin-bottom: 40px;
}

.rules-content {
    display: flex;
    margin-top: 10px;
}

#rules-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
    height: 100%;
}

#rules-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#rules-header > li {
    list-style: none;
    margin: 15px 0;
    color: #6B6B6B;
}

#rules-body > li {
    list-style: none;
    margin: 15px 0;
    font-weight: 600;
    color: #C6C6C6;
}


#reward-img {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
