.swap-container {
    display: flex;
    width: 80vw;
}
.swap-graph {
    position: absolute;
    margin-left: 15vw;
    /* display: inline-flex; */
    flex-direction: row;
    flex-wrap: wrap;
    top: 25vh;
}

#swap-graph-img {
    width: 30vw;
    border-color: aliceblue;
    border: solid;
}
.swap-wrapper {
    position: absolute;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* box */
    height: 70vh;
    width: 30vw;
    left: 50vw;
    top: 20vh;
    border: none;
    /* cursor: pointer; */
    padding: 1.75vh 3vw;
    background: #23233F;
    border-radius: 20px;
}

.swap-wrapper > h1 {
    position: absolute;
    top: 4vh;
}

.to-from-wrapper { 
    width: 35vw;
    height: 46vh;
    /* margin-top: 8vh; */
    justify-content: center;
    align-items: center;
    top: 25vh;
} 

.token-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    margin: 3vh 0vw;
    border: none;
    cursor: pointer;
    padding: 1.5vh 3.5vw;
    background: #12122B;
    border-radius: 20px;
    left: 2vw;
    top: 10vh;
    width: 25vw;
    height: 13vh;
}

.from-wrapper {
    position: absolute;
}

.swap-txt {
    font-size: 1.25em;
    position: absolute;
    left: 2vw;
    top: 2vh;
    /* display: inline-block; */
}

.from-token {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.from-token > span > #swap-from-eth {
    position: absolute;
    width: 3vw;
    left: 2.5vw;
    top: 6.5vh;
}

.from-token-name {
    position: absolute;
    left: 7vw;
    top: 7.8vh;
    font-size: 1.75em;
}

.amount-input {
    position: absolute;
    top: 7.5vh;
    right: 1vw;
    
    margin-left: auto;
    outline: none;
}

.amount-input > input {
    width: 10vw;
    margin-right: 1vw;
    text-align: right;
    color: #5B5B5B;
    background-color: transparent;
    border: none;
    font-size: 1.75em;

}

.arrow-down {
    position: absolute;
    content: '';
    border-top: 2px solid #A9A9A9;
    border-right: 2px solid #A9A9A9;

    transform: rotate(135deg);
    width: 2vw;
    height: 2vw;
    top: 30vh;
    left: 17vw;
}

.to-wrapper {
    position: absolute;
    top: 35vh;
}
.to-token > span > #swap-to-lolo {
    position: absolute;
    width: 3vw;
    left: 2.5vw;
    top: 6.5vh;
}

.to-token-name {
    position: absolute;
    left: 7vw;
    top: 7.8vh;
    font-size: 1.75em;
}

.to-amount {
    width: 10vw;
    margin-right: 1.5vw;
    text-align: right;
    color: #5B5B5B;
    background-color: transparent;
    border: none;
    font-size: 1.75em;
    
}

.slippage {
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 30vw;
    height: 5vh;
    top: 59.5vh;
    left: 2.75vw;
    font-size: 1..25em;
}

.slippage-tolerance {
    left: 2vw;
    top: 10vh;
    color: #CDCDCD;
}
#swap-btn {
    position: absolute;
    align-items: center;

    top: 61vh;
    left: 3vw;
    right: 20vw;
    bottom: 1vh;
    width: 30vw;
    height: 6vh;
}